# Local Project Items
.vscode
.well-known
.htpasswd
error_log
node_modules/

# CodeIgniter 3
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

# CodeIgniter 3
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# CodeIgniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

# MacOS General
.DS_Store
.AppleDouble
.LSOverride

# MacOS Thumbnails
._*

# MacOS Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# MacOS Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk